{% extends 'apps/include_base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
	<div class="card mb-3">
        <div class="card-body">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Facebook dan olingan lidlarni yuklash</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" class="form-class" action="/admin_page/upload-csv" enctype="multipart/form-data">
                                <input type="hidden" name="csrfmiddlewaretoken" value="gNgHlxca1qWTnIWEXaLVf4JNp1BS3sCjwpKJoEwNIMUEyxNctgun2ifAwpqum7RS">
                                <input name="stream_id" type="hidden" id="hidden_stream_id" value="66648">
                                <input name="file" type="file" accept=".csv" required="">
                                <input type="submit" class="btn btn-primary mt-4" value="Csv fayl yuklash">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <br>
                <h3 class="text-center"> Mening havolalarim </h3>
                <br>

                <div class="row">
                        {% for stream in streams %}
                        <div class="col-sm-4">
                            <div class="card-header">
                                    <h5>{{ stream.name }}</h5>
                                    <h5>-{{ stream.discount }}</h5>
                            </div>
                            <div class="card">
                                <div class="card-body" style="position: relative;">
                                    <div class="form-group">
                                        <input type="text" value="{{ request.headers.host }}/oqim/{{ stream.id }}" readonly="" class="ref_link form-control">
                                    </div>
                                    <button class="copy_ref_bn btn btn-primary" style="float:left; margin-right:9px; margin-top: 9px;">Nusxa ko'chirish
                                    </button>
                                    <a href="https://alijahon.uz/oqim/{{ stream.id }}" target="_blank"><i class="fa-solid fa-square-arrow-up-right" style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px; margin-right:9px;" aria-hidden="true"></i></a>
                                    <a href="https://t.me/AlijahonBot?start=order_{{ stream.id }}" target="_blank"><i class="fa-brands fa-telegram" style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px;" aria-hidden="true"></i></a>

                                    <button class="btn btn-primary btn_open_modal" type="button" data-bs-toggle="modal" style="float:left; margin-right:9px; margin-left: 9px; margin-top: 9px;" data-bs-target="#exampleModal" name="{{ stream.id }}">
                                        csv
                                    </button>
                                </div>
                            </div>
                            <br>
                        </div>

                        {% endfor %}



                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>